<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-7xl mx-auto border-x border-gray-200"
>
  <mat-drawer
    mode="side"
    opened="{{ sideBarToggle }}"
    class="w-64 border-r border-gray-200"
  >
    <!-- <app-sidenav></app-sidenav> -->
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-products-header
      (columnCountChange)="onColumnsCountChange($event)"
    ></app-products-header>
    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile>
        <app-product-box [fullWidthMode]="cols === 1"></app-product-box>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-product-box [fullWidthMode]="cols === 1"></app-product-box>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-product-box [fullWidthMode]="cols === 1"></app-product-box>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-product-box [fullWidthMode]="cols === 1"></app-product-box>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-product-box [fullWidthMode]="cols === 1"></app-product-box>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-product-box [fullWidthMode]="cols === 1"></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
<router-outlet></router-outlet>
